/* == 전체 페이지 설정 == */
body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* == 루트 변수 설정 == */
:root {
    --header-footer-height: 70px;
    --header-footer-bg-color: #003366;
    --button-bg-color: #0055b3;
}

/* == 헤더 스타일 == */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--header-footer-bg-color);
    z-index: 1000;
    height: var(--header-footer-height);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header_left, .header_right {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
}

.header_left {
    margin-left: 20%;
}

.header_right {
    margin-right: 20%;
}

#home_btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
    transition: none;
}

#home_btn:hover {
    background-color: transparent;
    box-shadow: none;
}


/* == 버튼 공통 스타일 == */
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0077cc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button_group button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 0;
}

/* == 이미지 컨테이너와 텍스트 오버레이 == */
.image_container {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-footer-height));
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay_text {
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.6);
}

/* == 메인 섹션 스타일 == */
.main_section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* == 푸터 스타일 == */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: var(--header-footer-bg-color);
    height: var(--header-footer-height);
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

/* == 회원가입 폼 스타일 == */
.registration_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 37.5rem;
    margin: 7em auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#owner_check {
    margin-top: 1rem;
}

input[type="checkbox"] {
    margin-right: 0.3rem;
    cursor: pointer;
}

.registration_box {
    margin: 1rem;
}

.registration_box label {
    display: block;
    margin-bottom: 0.5rem;
}

.registration_box h2, .registration_box label, .registration_box input, .registration_box button {
    margin-bottom: 1rem;
}

.registration_box input[type="text"],
.registration_box input[type="email"],
.registration_box input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.registration_box input {
    border: 1px solid #ddd;
}

#cancel_btn {
    background: #bbbbbb;
    color: white;
}

#cancel_btn:hover {
    background-color: #888888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* == 로그인 폼 스타일 == */
.login_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 30rem;
    margin: 1rem;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.login_box h2 {
    margin-bottom: 2rem;
}

.input_group {
    margin-bottom: 1rem;
}

.input_group input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.link_group {
    margin-top: 2rem;
    text-align: center;
}

.link_group a {
    margin: 0 0.5rem;
    color: var(--button-bg-color);
    text-decoration: none;
}

.link_group a:hover {
    text-decoration: underline;
}

.separator {
    color: #cccccc;
}


/* == 사장 페이지 == */
.owner_button_container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding: 3.125rem 0;
}

.owner_button_container button {
    width: 20rem;
    height: 20rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.owner_button_container button:hover {
    background-color: #0066cc;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.owner_main_section {
    padding: var(--header-footer-height) 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* == 가게 카드 == */
.restaurant_container,
.restaurant_menu_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    width: calc(100% - 40%);
    margin: var(--header-footer-height) auto 7rem;
    padding-top: var(--header-footer-height);
}

.restaurant_card,
.menu_card {
    display: flex;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.card_left {
    flex: 1;
    text-align: left;
    padding-right: 2rem;
}

.store_info,
.menu_info {
    display: flex;
    align-items: baseline;
}

.contact_info p {
    margin: 0.5em 0 1rem;
}

.cart_right {
    align-items: flex-end;
}

.card_right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.manage_menu,
.store_image {
    width: 10rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

.manage_menu {
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

.manage_menu:hover {
    background-color: #388E3C;
}

.store_image {
    width: 10rem;
    height: 10rem;
    background-color: #ececec;
    margin-bottom: 0.625rem;
}

.edit_delete_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 12rem;
}

.edit_delete_buttons button {
    width: 10rem;
}

.add_store {
    margin-top: 1rem;
}

.category {
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

.category-1 {
    background-color: #fdd835;
}

/* 치킨 */
.category-2 {
    background-color: #ff7043;
}

/* 족발·보쌈 */
.category-3 {
    background-color: #ba68c8;
}

/* 찜·탕·찌개 */
.category-4 {
    background-color: #4fc3f7;
}

/* 돈까스·회·일식 */
.category-5 {
    background-color: #aed581;
}

/* 피자 */
.category-6 {
    background-color: #ffb74d;
}

/* 고기·구이 */
.category-7 {
    background-color: #90a4ae;
}

/* 야식 */
.category-8 {
    background-color: #7986cb;
}

/* 양식 */
.category-9 {
    background-color: #a1887f;
}

/* 중식 */
.category-10 {
    background-color: #4db6ac;
}

/* 아시안 */
.category-11 {
    background-color: #dce775;
}

/* 백반·죽·국수 */
.category-12 {
    background-color: #ff8a65;
}

/* 분식 */
.category-13 {
    background-color: #f06292;
}

/* 카페·디저트 */
.category-14 {
    background-color: #9575cd;
}

/* 패스트푸드 */


.restaurant_header h1 {
    display: inline;
}

#restaurant_street_detail {
    display: block;
    margin-left: 2.5rem;
}

.no_restaurant_notice,
.no_menu_notice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: #cfe0e8;
}

.no_restaurant_notice h1,
.no_menu_notice {
    font-size: 1.5rem;
    color: #555;
    font-weight: bold;
}

/* == 가게 등록 폼 스타일 == */
.restaurant_editor_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 40%);
    max-width: 50rem;
    margin: 7em auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.restaurant_editor_container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.restaurant_editor_container label {
    font-weight: bold;
}

.restaurant_editor_container input,
.restaurant_editor_container select,
.restaurant_editor_container textarea {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.phone_number_group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.phone_number_group input[type="text"] {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.restaurant_editor_container button {
    padding: 0.75rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input_time,
.minimum_price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input_time input,
.minimum_price input {
    width: 100%;
}

/* == 메뉴 카드 디자인 == */
#option_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}


.option_item,
.no_options {
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    margin: 0.1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 0.5rem;
}

.option_item {
    background-color: #f0f0f0;
}

.no_options {
    background-color: #ffecb3;
}

.button_option {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    padding: 0;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

.add_option {
    background-color: #4caf50;
    color: white;
}

.add_option:hover {
    background-color: #43a047;
}

.delete_option, .add_option {
    margin: 0.125rem;
}

/* 모달 디자인 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    width: 50rem;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_button_group {
    display: flex;
    justify-content: space-around; /* 버튼들 사이에 공간을 동일하게 배분 */
    width: 100%;
}

.modal_button_group button {
    margin-top: 3rem;
    width: 100%;
    cursor: pointer;
}

.delete,
.delete_option,
#cancelDelete,
#cancel_delete_menu,
#cancel_delete_option,
#cancel_option_btn,
#cancel_registration_menu {
    transition: all 0.3s ease;
    background-color: #F44336;
}

.delete:hover,
.delete_option:hover,
#cancelDelete:hover,
#cancel_delete_menu:hover,
#cancel_delete_option:hover,
#cancel_option_btn:hover,
#cancel_registration_menu:hover {
    background-color: #F76558;
}

.option_input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.single_input {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.single_input label {
    font-size: 1rem;
    width: 10%;
    text-align: left;
    margin-right: 0.5rem;
}

.single_input input {
    width: 70%;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 1rem;
}

.currency {
    font-size: 1rem;
    color: #666;
}

.image_input_group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.image_input_group label {
    font-size: 1rem;
    width: 10%;
    text-align: left;
    margin-right: 0.5rem;
}

/* 가게 소개 라벨 */
label[for="menu_desc"] {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
}

.image_input_group div {
    margin-right: 1rem;
}
