.oauth-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.oauth-button:hover {
    opacity: 0.8;
}

.oauth-button:active {
    transform: scale(0.97);
    filter: brightness(0.9);
}

.oauth-button img {
    width: 30vw;
}