<section class="customer_main_section" style="display: none">
    <article class="customer_main_header">
        <h1> 어떤 <span class="highlight">음식</span>을 드릴까요 ? </h1>
        <p> 카테고리를 선택해주세요 </p>
    </article>
    <div class="category_grid">
        <div class="category_item" data-category-id="1">
            <div class="category_name">치킨</div>
            <div class="category_image">
                <img src="/images/food/치킨.webp" alt="치킨">
            </div>
        </div>
        <div class="category_item" data-category-id="2">
            <div class="category_name">족발 · 보쌈</div>
            <div class="category_image">
                <img src="/images/food/족발.jpeg" alt="족발">
            </div>
        </div>
        <div class="category_item" data-category-id="3">
            <div class="category_name">찜 · 탕 · 찌개</div>
            <div class="category_image">
                <img src="/images/food/김치찌개.jpeg" alt="찜 · 탕 · 찌개">
            </div>
        </div>
        <div class="category_item" data-category-id="4">
            <div class="category_name">돈까스 · 회 · 일식</div>
            <div class="category_image">
                <img src="/images/food/초밥.jpeg" alt="초밥">
            </div>
        </div>
        <div class="category_item" data-category-id="5">
            <div class="category_name">피자</div>
            <div class="category_image">
                <img src="/images/food/피자.jpeg" alt="피자">
            </div>
        </div>
        <div class="category_item" data-category-id="6">
            <div class="category_name">고기 · 구이</div>
            <div class="category_image">
                <img src="/images/food/삼겹살.jpeg" alt="삼겹살">
            </div>
        </div>
        <div class="category_item" data-category-id="7">
            <div class="category_name">야식</div>
            <div class="category_image">
                <img src="/images/food/닭발.jpeg" alt="닭발">
            </div>
        </div>
        <div class="category_item" data-category-id="8">
            <div class="category_name">양식</div>
            <div class="category_image">
                <img src="/images/food/스테이크.webp" alt="스테이크">
            </div>
        </div>
        <div class="category_item" data-category-id="9">
            <div class="category_name">중식</div>
            <div class="category_image">
                <img src="/images/food/짜장면.jpeg" alt="짜장면">
            </div>
        </div>
        <div class="category_item" data-category-id="10">
            <div class="category_name">아시안</div>
            <div class="category_image">
                <img src="/images/food/쌀국수.jpeg" alt="쌀국수">
            </div>
        </div>
        <div class="category_item" data-category-id="11">
            <div class="category_name">백반 · 죽 · 국수</div>
            <div class="category_image">
                <img src="/images/food/백반.jpeg" alt="백반">
            </div>
        </div>
        <div class="category_item" data-category-id="12">
            <div class="category_name">분식</div>
            <div class="category_image">
                <img src="/images/food/떡볶이.webp" alt="떡볶이">
            </div>
        </div>
        <div class="category_item" data-category-id="13">
            <div class="category_name">카페 · 디저트</div>
            <div class="category_image">
                <img src="/images/food/디저트.jpeg" alt="디저트">
            </div>
        </div>
        <div class="category_item" data-category-id="14">
            <div class="category_name">패스트푸드</div>
            <div class="category_image">
                <img src="/images/food/햄버거.jpeg" alt="햄버거">
            </div>
        </div>
    </div>
</section>