<!--owner.html-->
<section class="owner_main_section" style="display: none">
    <div class="owner_button_container">
        <button type="button" id="order_check_btn">주문확인</button>
        <button type="button" id="reply_management_btn">답글관리</button>
        <button type="button" id="store_management_btn">가게관리</button>
    </div>
</section>

<section class="restaurant_container" style="display: none">
    <article class="restaurant_header">
        <h1>회원님의 가게 목록입니다.</h1>
    </article>

    <div class="button_group">
        <button type="button" id="add_restaurant">+ 가게 등록</button>
    </div>

    <div id="deleteModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h1>해당 가게를 삭제하시겠습니까?</h1>
            <div class="modal_button_group">
                <button id="confirmDelete">예</button>
                <button id="cancelDelete">아니오</button>
            </div>
        </div>
    </div>
</section>

<section class="restaurant_editor_container" style="display: none">
    <form id="restaurant_editor_form">
        <h3>가게 이름</h3>
        <input type="text" id="restaurant_name" name="restaurant_name" placeholder="가게의 이름을 입력해주세요" required>

        <h3>전화번호</h3>
        <div class="phone_number_group">
            <input type="text" id="phone_area_code" name="phone[area]" maxlength="3" required>
            <span>-</span>
            <label for="phone_middle_digits" class="visually-hidden">중간번호</label>
            <input type="text" id="phone_middle_digits" name="phone[middle]" maxlength="4" required>
            <span>-</span>
            <label for="phone_last_digits" class="visually-hidden">마지막번호</label>
            <input type="text" id="phone_last_digits" name="phone[last]" maxlength="4" required>
        </div>

        <h3>가게 주소</h3>
        <input id="zipcode" type="text" placeholder="우편번호" required>
        <input id="street" type="text" placeholder="주소" required>
        <input id="street_detail" type="text" placeholder="상세주소" required>
        <input id="longitude" type="text" style="display: none">
        <input id="latitude" type="text" style="display: none">

        <h3>카테고리</h3>
        <select id="restaurant_category" name="restaurant_category">
            <option value="1">치킨</option>
            <option value="2">족발 · 보쌈</option>
            <option value="3">찜 · 탕 · 찌개</option>
            <option value="4">돈까스 · 회 · 일식</option>
            <option value="5">피자</option>
            <option value="6">고기 · 구이</option>
            <option value="7">야식</option>
            <option value="8">양식</option>
            <option value="9">중식</option>
            <option value="10">아시안</option>
            <option value="11">백반 · 죽 · 국수</option>
            <option value="12">분식</option>
            <option value="13">카페 · 디저트</option>
            <option value="14">패스트푸드</option>
        </select>

        <h3>가게 소개</h3>
        <textarea id="restaurant_desc" name="restaurant_desc" rows="4" placeholder="가게에 대한 설명을 작성해주세요"
                  required></textarea>

        <h3>최소 주문 금액</h3>
        <div class="minimum_price">
            <input id="minimum_price" type="text" required>
            <span class="currency">원</span>
        </div>

        <h3>운영 시간</h3>
        <div class="input_time">
            <input type="time" id="restaurant_opening" name="restaurant_opening" required>
            <span>~</span>
            <input type="time" id="restaurant_closing" name="restaurant_closing" required>
        </div>

        <button type="button" id="registration_btn" style="display:none;">등록</button>
        <button type="button" id="edit_btn" style="display: none">수정</button>
        <button type="button" id="cancel_btn">취소</button>
    </form>
</section>

<section class="restaurant_menu_container" style="display: none">
    <article class="restaurant_menu_header">
        <h1 id="restaurant_header_name"> 식당 이름 </h1>
        <div id = "restaurant_street_info">
            <p id="restaurant_header_street"> 식당 주소 </p>
            <p id="restaurant_header_street_detail"> 식당 상세 주소 </p>
        </div>
    </article>

    <div class="button_group">
        <button type="button" id="add_menu">+ 메뉴 등록</button>
    </div>


    <!-- 메뉴 등록 -->
    <div id="add_menu_modal" class="modal" style="display: none">
        <form id="add_menu_form">
            <div class="modal-content">
                <div class="option_input_group">
                    <div class="single_input">
                        <label for="add_menu_name">메뉴 이름</label>
                        <input id="add_menu_name" type="text" placeholder="메뉴 이름을 작성해주세요" required>
                    </div>
                    <div class="single_input">
                        <label for="add_menu_price">메뉴 가격</label>
                        <input id="add_menu_price" type="text" placeholder="가격" required>
                        <span class="currency">원</span>
                    </div>

                    <div class="image_input_group">
                        <label for="store_image">메뉴 사진</label>
                        <input id="store_image" type="file" style="display:none;"> <!-- 이미지 파일 선택 -->
                        <div class="store_image"></div>
                        <button type="button">사진 등록</button>
                        <!--                <button type="button" onclick="document.getElementById('store_image').click();">사진 등록</button>-->
                    </div>
                    <label for="menu_desc">메뉴 소개</label>
                    <textarea id="menu_desc" name="menu_desc" rows="4" placeholder="메뉴에 대한 설명을 작성해주세요"
                              required></textarea>
                    <div class="modal_button_group">
                        <button type="button" id="registration_menu" style="display: none">등록하기</button>
                        <button type="button" id="edit_menu" style="display: none">수정하기</button>
                        <button type="button" id="cancel_registration_menu">취소하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 메뉴 삭제 -->
    <div id="delete_menu_modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h1>해당 메뉴를 삭제하시겠습니까?</h1>
            <div class="modal_button_group">
                <button id="confirm_delete_menu">예</button>
                <button id="cancel_delete_menu">아니오</button>
            </div>
        </div>
    </div>

    <!-- 옵션 추가 -->
    <div id="add_option_modal" class="modal" style="display: none;">
        <form id="add_option_form">
            <div class="modal-content">
                <div class="option_input_group">
                    <div class="single_input">
                        <label for="add_option_content">옵션이름</label>
                        <input id="add_option_content" type="text" placeholder="옵션 이름을 작성해주세요" required>
                    </div>
                    <div class="single_input">
                        <label for="add_option_price">옵션가격</label>
                        <input id="add_option_price" type="text" placeholder="가격" required>
                        <span class="currency">원</span>
                    </div>
                </div>
                <div class="modal_button_group">
                    <button type="button" id="registration_option_btn">등록하기</button>
                    <button type="button" id="cancel_option_btn">취소하기</button>
                </div>
            </div>
        </form>
    </div>

    <!-- 옵션 삭제 -->
    <div id="delete_option_modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h1>해당 옵션 삭제하시겠습니까?</h1>
            <div class="modal_button_group">
                <button id="confirm_delete_option">예</button>
                <button id="cancel_delete_option">아니오</button>
            </div>
        </div>
    </div>
</section>