<section id="owner_main_section" style="display: none">
    <div class="owner_button_container">
        <button type="button" id="order_check_btn">주문확인</button>
        <button type="button" id="reply_management_btn">답글관리</button>
        <button type="button" id="store_management_btn">가게관리</button>
    </div>
</section>

<section class="restaurant_container" style="display: none">
    <article class="restaurant_header">
        <h1>회원님의 가게 목록입니다.</h1>
    </article>

    <div class="button_group">
        <button type="button" id="add_store">+ 가게 등록</button>
    </div>
</section>

<script src="/js/owner.js"></script>
